body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(0, 20, 39);
}

.main__display {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 75px;
  font-weight: bold;
}

.main__display-text {
  background: linear-gradient(45deg, rgb(22, 168, 235) 0%, rgb(48, 229, 241) 75%);
  color: transparent;
  -webkit-background-clip: text;
  animation: levitate 2s ease-out both infinite;
}

.race {
  background: url(images/City-Background-Pics.png);
  width: 100%;
  background-size: cover;
  background-position: center;
  height: 890px;
  margin-bottom: 200px;
  position: relative;
  background-repeat: no-repeat;
}

#car {
  position: absolute;
}

.race__car {
  width: 270px;
  position: absolute;
  top: 590px;
  left: 160px;
}

.race__car img, .race__car-tyre img {
  width: 100%;
}

.race__car-tyre {
  width: 34px;
  position: absolute;
}

.race__car-tyre.left {
  top: 653px;
  left: 205px;
}

.race__car-tyre.right {
  top: 656px;
  left: 330px;
  width: 32px;
}

@keyframes levitate {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-15px);
  }
}